body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161926;
    border: 10px solid #f5bd60;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #5c80bc;
}

h2 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #5c80bc;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #f5bd60;
}

p {
    font-size: 20px;
    line-height: 1.85rem;
    margin-bottom: 10px;
    color: #f5bd60;
}

#footer p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #f5bd60;
}
  
.logo {
    display: flex;
    align-items: center;
}
  
.logo img {
    max-height: 60px; 
    margin-right: 10px; 
}
  
.links {
    display: flex;
    align-items: center;
}


  
.links a {
    margin-right: 20px; /* Adjust the spacing between links */
    text-decoration: none;
    color: #f5bd60;
    font-weight: bold;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .links {
        display: none;
    }

    .mobile {
        display: block;
    }

    #toggle {
        display: none;
    }
      
    .hamburger {
        position: fixed;
        top: 5em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
    }
      
    .hamburger div {
        position: relative;
        width: 3em;
        height: 7px;
        border-radius: 3px;
        background-color: #f5bd60;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }
      
    .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #161926;
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
    }

    .nav-wrapper {
        position: relative;
        margin: auto;
        padding-top: 15vw;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }

    nav {
        text-align: left;
        margin-left: 25%;
    }
      
    nav a {
        position: relative;
        text-align: center;
        text-decoration: none;
        color: #f5bd60;
        font-size: 2em;
        display: inline-block;
        margin-top: 1.25em;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
    }
    
    nav a:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
    }
      
    nav a:hover {
        color: white;
    }
      
    nav a:hover:before {
        height: 100%;
    }
      
     #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }
    
    #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }

    #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }
      
    #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
    }
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    margin-bottom: 25px;
    text-align: center;
}

section #sub {
    font-size: 30px;
    margin-bottom: 10px;
    color: #5c80bc;
}

/*LANDING PAGE*/
.video-three-column {
    width: 100%;
}

/* Parallax effect*/ 
.parallax-section {
    width: 100%;
    flex: 1;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.parallax-image {
    max-width: 100%;
}

/* CLIENT PAGE */
.client-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.client-row img {
    width: 25%;
    object-fit: cover;
    margin-right: 30px;
}
  
.client-row .client-text {
    flex: 1;
    text-align: left;
    color: #f5bd60;
}

/* VIDEO PAGE */
.video-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
.video-column {
    flex: 1;
    padding: 10px;
}

.video-column .video-text {
    color: #f5bd60;
    /*font-size;*/
}

/* PHOTOGRAPHY PAGE */
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
.gallery{
    width: 100%;
    max-width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 300px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    flex-shrink: 0;
}
   
.item img{
    width: 100%;
    height: auto;
}

/* ABOUT PAGE */

.contactPhoto > img {
    width: 300px;
    box-shadow: -1rem 1rem #f5bd60;
    margin-bottom: 2rem;
}

/* GEAR PAGE */

.galleryContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 60rem;
    justify-content: center;
}

.galleryCellWrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f6bd60;
    width: 300px;
    height: 300px;
    align-items: center;
    padding: 1rem;
}

.galleryCellTitle {
    font-size: 24px;
    color: #5c80bc;
}

.galleryCellImg {
    max-width: 50%;
    max-height: 200px;
}

.galleryImgDesc {
    font-size: 18px;
    color: #5c80bc;
    text-align: left;
}

.galleryImgDesc a,
.galleryImgDesc a:visited {
    color: #5c80bc;
}

/*
#gallery {
    img {
      height: 75vw;
      object-fit: cover;
      
      @media (min-width: $bootstrap-sm) {
        height: 35vw;
      }
      
      @media (min-width: $bootstrap-lg) {
        height: 18vw;
      }
    }
  }

.carousel-item {
    img {
      height: 60vw;
      object-fit: cover;
      
      @media (min-width: $bootstrap-sm) {
        height: 350px;
      }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
}

.close {
    color: #f5bd60;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
}
*/
/* CONTACT */
form div {
    padding: 5px;  
}

form div input {
    width: 50%;
    padding: 8px 10px;
}

form div textarea {
    width: 50%;
    padding: 8px 10px;
}

form div #contact-submit {
    width: 150px;
    border-color: #f5bd60;
    background: #f5bd60;
    color: #5c80bc;
}

form div #contact-submit:hover {
    width: 150px;
    border-color: #f5bd60;
    background: transparent;
    color: #f5bd60;
}